@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Reset básico para margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estiliza o corpo da página */
body {
    font-family: 'Roboto Slab', sans-serif;
    line-height: 1.6;
    color: #333;
    background: url('../img/pessoa.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1200px; /* Limite para o máximo de largura */
}

/* Estiliza o cabeçalho e o menu de navegação */
header {
    background: #000; /* Preto */
    color: #fff;
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estiliza o conteúdo principal */
.main-content {
    padding: 100px 20px;
    text-align: center;
    color: #fff;
    min-height: 60vh; /* Ajuste conforme necessário */
}

/* Tamanho da fonte estilosa */
.main-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.main-content p {
    font-size: 1.5em;
    margin-top: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Estiliza as seções */
section {
    padding: 60px 20px;
    text-align: center;
    color: #fff;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff; /* Branco */
}

section p {
    font-size: 1.2em;
    margin: 0;
}

/* Seção Quem Somos */
#quem-somos {
    background: url('../img/quem-somos.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}

/* Seção Minicurrículo */
#minicurriculo {
    background: #d9534f; /* Vermelho */
    color: #fff;
}

/* Seção Contato */
#contato {
    background-color: #000000d3;
    background-size: cover;
    color: #fff;
}

/* Estiliza a seção de portfólio */
#portfolio {
    background: #000; /* Preto */
    color: #fff;
}

.portfolio-item {
    display: inline-block;
    width: 300px;
    margin: 20px;
    vertical-align: top;
    background: #222; /* Cinza escuro */
    border: 1px solid #d9534f; /* Vermelho */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: background 0.3s, border-color 0.3s;
}

.portfolio-item:hover {
    background: #d9534f; /* Vermelho */
    border-color: #fff; /* Branco */    
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio-item h3 {
    font-size: 1.5em;
    padding: 15px;
    background: #000; /* Preto */
    color: #fff;
}

.portfolio-item p {
    padding: 15px;
    font-size: 1em;
    color: #fff; /* Branco */
}

/* Estiliza o rodapé */
footer {
    background: #000; /* Preto */
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: auto; /* Faz com que o rodapé vá para o final do conteúdo */
    width: 100%;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
